<html>
    <head>
        <title>RESTCRUD</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color: #5cd65c;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">RESTCRUD</a>
                <ul class="nav navbar-nav">
                    <li><a href="/contacts">Index</a></li>
                    <li><a href="/contacts/new">New</a></li>                    
                </ul>
            </div>            
        </div>
    </nav>